<div class="container">
  <h1><%= @tree.name %></h1>
    <%= link_to "Back to all trees", trees_path %>

  <div class="product">
    <p> <%= @tree.description %> </p>
    <p> <%= @tree.price %> </p>
  </div>
</div>

