<div class="banner" style="background-image: url('https://source.unsplash.com/eyfMgGvo9PA/1600x900');">
  <div class="container">
    <h1>Book a tree !</h1>
  </div>
</div>
<div class="container m-4">
  <%= link_to "Discover our trees", trees_path, class: "btn btn-primary"%>
</div>
<div class="container">

</div>
