<div class="banner" style="background-image: url('https://source.unsplash.com/eyfMgGvo9PA/1600x900');">
  <div class="container">
    <h1>Book a tree !</h1>
  </div>
</div>
<div class="container m-4">
  <h2>Discover our trees</h2>
</div>

<div class="container d-flex justify-content-between">

<% @trees.each do |tree| %>
  <div class="card-trip">
  <img src="https://source.unsplash.com//yPSbirjJWzs/1600x900" />
  <div class="card-trip-infos">
    <div>
      <h2><%= tree.name %></h2>
      <p><%= tree.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= tree.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<% end %>
</div>

<div class="container d-flex justify-content-center mt-3">
  <%= link_to "Discover more", trees_path, class: "btn-ghost"%>
</div>
