.background {
  background-image: url("https://res.cloudinary.com/dmaxwqv5g/image/upload/v1615391198/g9iaeq1fiwjmwknibmnz.jpg");
}

.background-2 {
  background-image: url("https://res.cloudinary.com/dmaxwqv5g/image/upload/v1615389984/v4waqmvttwvhmoeqieod.jpg");
  background-size: cover;
}
