// .lavalamp {
//     position: relative;
// }

// .mb-2 {
//   margin-bottom: 1.25rem !important;
// }

// .nav-tabs {
//   border-bottom: 1px solid #e5e5e5;
// }

// .nav {
//   display: flex;
//   flex-wrap: wrap;
//   // padding-left: 0;
//   // margin-bottom: 0;
//   list-style: none;
// }

// ul, {
//     margin-top: 0;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     padding-inline-start: 40px;
// }

// .nav-tabs .lavalamp-object {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: transparent;
//     border-bottom: 2px solid #FD1015;
//     border-radius: 0;
// }


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 16px;
  position: relative;
}

.link-to-tree {
  position: absolute;
  top: 20px; right: 40px;
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  // padding-left: 20px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-tree-infos {
  padding: 16px;
}
