#grid-user {
  display: grid;
  grid-template-columns: 1fr 40px 40%;
  // grid-template-rows: span 3 / 1;
  grid-template-areas:
    "tn . head-user"
    "tree-book-side . user-side";
    // "footer footer footer footer"
}
