.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#tree-link {
  color: #E5E5E5;
}

#tree-link:hover {
  color : black;
}
