.navbar-lewagon {
 background-color: #3d5951 ;
 justify-content: space-between;
 color: #f8f9fa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}

.text-nav {
  color: #f8f9fa !important;
  font-size: 14px;
  font-weight: 300;
}

.logo {
  height: 50px;
  width: 100px;
}
