.navbar-lewagon {
 background-color: #3d5951 ;
 justify-content: space-between;
 color: #f8f9fa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}

.text-secondary {
  color: #f8f9fa !important;
  font-size: 14px;

  &:hover {
    color: #BB968B !important;
  }
}